<h1 class='mb-3'>Lista de productos en tiempo real</h1>

<button
	class='btn btn-success border border-dark shadow me-1 mb-3'
	id='btnAdd'
	onclick='renderAddForm()'
>Agregar Productos</button>
<button
	class='btn btn-danger border border-dark shadow ms-1 mb-3'
	id='btnDel'
	onclick='renderDelForm()'
>Eliminar Productos</button>

<div id='form'></div>

<div
	class='d-flex p-2 mb-2 flex-row justify-content-evenly flex-wrap'
	id='productsList'
></div>

<script src='/socket.io/socket.io.js'></script>
<script src='/static/js/socketClient.js'></script>