<h1 class='mb-3'>Lista de productos en tiempo real</h1>

<button
	class='btn btn-success border border-dark shadow me-1 mb-3'
	id='btnAdd'
	onclick='renderAddForm()'
>Agregar Productos</button>
<button
	class='btn btn-danger border border-dark shadow ms-1 mb-3'
	id='btnDel'
	onclick='renderDelForm()'
>Eliminar Productos</button>
<div id='form'></div>

<div id='productList'></div>

<script src='/socket.io/socket.io.js'></script>
<script src='/static/js/socketClient.js'></script>