{{! Información necesaria para reset_password.js }}
<input type='hidden' id='resetPassToken' value='{{token}}' />

<section class='container'>
	<h2 class='mb-3'>Resetear Password</h2>

	<form
		id='resetPassForm'
		class='border border-secondary rounded shadow w-50 p-2 pt-3 pb-3'
		action='/api/sessions/reset-password/:tkn'
		method='put'
	>
		<input
			class='form-control ms-3 w-50 mb-2'
			type='password'
			placeholder='Nuevo Password'
			name='newPassword'
			id='newPassword'
		/>

		<input
			class='form-control ms-3 w-50 mb-2'
			type='password'
			placeholder='Validar Password'
			name='validPassword'
			id='validPassword'
		/>
		<div
			id='resetPassError'
			class='d-none ms-3 alert alert-danger w-50'
		></div>
		<button
			id='resetPassBtn'
			class='ms-3 btn btn-primary border border-dark shadow mt-3'
			type='button'
		>Restablecer Password</button>

	</form>

</section>

<script src='/static/js/reset_password.js'></script>