<section class='container'>
	<h2 class='mb-3'>Enviar link para reestablecer tu contraseña</h2>

	<form
		class='border border-secondary rounded shadow w-50 p-2 pt-3 pb-3'
		action='/api/sessions/reset-password'
		method='post'
	>
		<input
			class='form-control ms-3 w-50 mb-2'
			type='email'
			placeholder='Correo'
			name='userEmail'
		/>

		<button
			class='ms-3 btn btn-primary border border-dark shadow mt-3'
			type='submit'
		>Enviar Link</button>

	</form>

</section>