{{! Información necesaria para toggle_role.js }}
<input type='hidden' id='userId' value='{{userId}}' />

<section class='container'>
	<h2 class='mb-3 mt-4'>Cambiar Rol de un Usuario </h2>

	<h6 class='ms-1'>ID del usuario a modificar: {{userId}}</h6>

	<div id='toggleRoleError' class='d-none ms-3 alert alert-danger w-50'></div>

	<button
		id='toggleRoleBtn'
		class='ms-3 btn btn-primary border border-dark shadow mt-3'
		type='button'
	>Cambiar Rol</button>

</section>

<script src='/static/js/toggle_role.js'></script>